@use './mixins' as mixins;
@use './navbar';
@use './variables' as var;
@use './globals';
.content {
    
    height: 100%;
    position: relative;
    #map {
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
